* {
    margin:0;
    padding:0;
}

* + * {
    margin: 1em 0;
}

html {
    margin:0;
    font-size: 22px;
      font-family: "Source Code Pro";
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
body {
    margin:7vw;
    background: #B4DDF8;
    line-height:1.67em;
    color:#013;
    overflow:auto;
}
.container {
    max-width: 720px;
}

p {
    margin-top:2em;
      font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;

}

h1.title a {
    color: #222;
}

a, a:visited, a:active {
    color: #fffcf7;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

nav * + * {
    margin-left: 3vw;
}