* + * {margin: 40px;}
html{margin:10px;font-size:14px;font-family:;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0;background:#fec;line-height:1.5em;color:#566;}
h1,h2,h3{font-weight:600;color:#f33;font-size:1em;}
h3 {color:#1c2425;}
a{color:inherit;}p{overflow:hidden;}
img{}
