* {
    margin:0;
    padding:0;
}

html {
    margin:0;
    font-size: 22px;
    font-family: 'Crimson Text', serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
body {
    margin:7vw;
    background:#ddd;
    line-height:1.67em;
    color:#333;
    overflow:auto;
}
.container {
    max-width: 675px;
}

p {
    margin-top:2em;
}

p.site-description {
    font-style: italic;
    }

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

a, a:visited, a:active {
    color: #fffaf0;
}

a:hover {
    color: #fff;
}