
//
// VARIABLES
//

// Colors
$blue: #4183C4; 

// Grays
$black: #000;
$darkerGray: #1c2324;
$darkGray: #404245;
$gray: #aaabab;
$lightGray: #cbcccc;
$white: #fafafa;

// Font stacks
$serif: "Times New Roman", serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
