
//
// VARIABLES
//

// Colors
$blue: #4183C4; 

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #404245;
$gray: #666;
$lightGray: #eaebeb;
$white: #fafafa;

// Font stacks
$serif: "Times New Roman", serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
