---
layout: default
---

<article class="post">
 <table>
    <tr>
         <td><h3>{{ page.title }}</h3></td>
        <td class="date"><h3>{{ page.date | date:"%e&emsp;%m&emsp;%y"}}</h3></td>
    </tr>
</table>

  <div class="entry">
    {{ content }}
  </div>

<table>
    <tr>
        <td> {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">previous</a>
  {% endif %}</td>
    <td class="date"> {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">next</a>
  {% endif %}</td>
    </tr>
</table>
 
 
</div>

  {% include disqus.html %}
</article>
