---
layout: default
---

<article class="post">
  <h2>{{ page.title }}</h2>

  <div class="entry">
    {{ content }}
  </div>

  <div id="date">
  {% assign y = page.date | date: "%y" %}
  {{ page.date | date: "%B" }} 
{% case y %}
  {% when '14' %}Two-Thousand-Fourteen
  {% when '15' %}Two-Thousand-Fifteen
  {% when '16' %}Two-Thousand-Sixteen
  {% when '17' %}Two-Thousand-Seventeen
  {% when '18' %}Two-Thousand-Eighteen
  {% else %}{{ page.date | date: "%Y" }}.
  {% endcase %}
  </div>

</article>
<a href="/">See Everything</a>
